*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.banner__img{
    width: 100%;
}
.header{
   display: flex;
}
.header__list{
    width: 50vw;
    height: 50px;
    background-color:#444444;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: aliceblue;
    
}
.header__list__trangchu,
.header__list__danhmuc,
.header__list__lienhe,
.header__list__donate {
    margin-left: 40px;
}
.header__timkiem{
    width: 50vw;
    height: 50px;
    background-color:#444444;
    display: flex;
    align-items: center;
   
}
.header__timkiem input{
    width: 70%;
    height: 70%;
    font-size: 1rem;
}
.header__timkiem__icon{
    font-size: 25px;
    padding: 2px 3px 2px 4px;
    background-color: aliceblue;
    
}
.banhang__mot, .banhang__hai{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.the{
    width: 360px;
    height: 460px;
    background-color: #EEEEEE;
    border-radius: 20px;
    margin: 70px;
    padding: 15px;
}
..the__icon{
    color: darkgray;
    font-size: 25px;
}
.the__anh{
    width: 120px;
    
}
.the__anh img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 100px;
    margin-top: 30px;
}
.the__ten{
    font-size: 1rem;
    margin: auto 50px;
    margin-top: 20px;

}
.the__gia{
   margin-left: 135px;
   margin-top: 20px;
}
.the__size{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}
.the__size span{
    margin-left: 15px;
    padding: 2px 5px;
    background-color: black;
    color: white;
}
.the__mua{
    margin-top: 50px;
    margin-left: 200px
}
.the__mua__ngay{
    outline: none;
    border: none;
    background: orange;
    color: black;
    padding: 10px 30px;
    border-radius: 2px;
    cursor: pointer;
}
.the:hover .the__anh{
    transform:  translate(-50px) rotate(-20deg);
}

.the__size, .the__mua{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.4s;
}
.the:hover .the__size,
.the:hover .the__mua {
    visibility: visible;
    opacity: 100;

}